<<<<<<< HEAD
<h1>InterFridge</h1>
<h2>Your virtual kitchen!</h2>
=======
<h1>InterFridge: Your virtual kitchen!</h1>
>>>>>>> origin/master


<h3>What It Does</h3>
<div class="body">InterFridge is a recipe recommendation engine and kitchen organizer that adapts to the foods you like. It finds recipe ideas based on ingredients you choose, and helps manage your grocery lists based on which items you've used recently. You can even upload your own recipes to share with other users. InterFridge can also work with your personal dieting and nutritional needs, and includes interactive guides for each recipe.</div>
