<h1>New Recipe Page</h1>

<img src="/img/recipe.png">

<a class="link" href="/">Home</a>
<a class="link" href="/login/">Login</a>
<a class="link" href="/profile/">Profile</a>
<a class="link" href="/myrecipes/">My Recipes</a>
<a class="link" href="/settings/">Settings</a>