html, body {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.navbar {
	background-color: #8cc63f;
	margin: 0;
	padding-top: 1em;
	padding-bottom: 1em;
	position: fixed;
	top: 0;
	width: 100%;
}

h1, h2, h3, .navlink {
	font-weight: 200;
}

h1 {
	font-size: 3em;
	color: #8cc63f;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	font-size: 2em;
	color: #8cc63f;
	text-align: center;
	margin-top: .5em;
	margin-bottom: .5em;
}

h3 {
	font-size: 2em;
	color: Black;
	text-align: left;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.link {
	text-align: center;
	font-size: 2em;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

.navlogo {
	padding-left: 1.5em;
	padding-right: 1.5em;
	float: left;
}

.navlink {
	text-align: center;
	font-size: 18pt;
	padding: 1.5em;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	color: white;
	text-decoration: none;
}

.navlink:hover {
	color: DimGray;
}

.mockup {
	margin: auto;
	display: block;
	margin-top: 1em;
	margin-bottom: 2em;
}

li {
	text-align: center;
	font-size: 1.5em;
}

.rightContainer {
	float: right;
	display: inline;
	margin-top: 1em;
}

.leftContainer {
	float: left;
	margin-top: 1em;
}

p, .body {
	font-size: 1em;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

img {
}

.logo {
	display: block;
	margin: auto;
	margin-top: 5em;
	margin-bottom: 2em;
}
