html, body {
	padding: 0;
	font-family: Futura, Arial, sans-serif;
	background: GhostWhite;
	margin-left: 5em;
	margin-right: 5em;
}

h1 {
	font-size: 4em;
	color: MediumSeaGreen;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	font-size: 2em;
	color: MediumSeaGreen;
	text-align: center;
	margin-top: .5em;
	margin-bottom: .5em;
}

h3 {
	font-size: 2em;
	color: Black;
	text-align: left;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.link {
	text-align: center;
	font-size: 2em;
	margin-left: 1.5em;
	margin-right: 1.5em;
	padding-bottom: 3em;
}

li {
	text-align: center;
	font-size: 1.5em;
}

p, .body {
	font-size: 1em;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

img {
	display: block;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

.logo {
	margin-top: 3em;
}
